# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved

# macOS
.DS_Store
*.swp
*~

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Superpowers
.superpowers/
